# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually (\$645-675) underperformed compared to schools with smaller budgets (<\$585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.columns

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score', 'School ID', 'type', 'size', 'budget'],
      dtype='object')

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [3]:
total_schools = school_data_complete ["school_name"].nunique()
total_students = school_data_complete["student_name"].count()
total_budget = school_data ["budget"].sum()
average_math_score = school_data_complete ["math_score"]. mean()
average_reading_score = school_data_complete ["reading_score"].mean()
overall_passing_rate = (average_math_score + average_reading_score)/2
math_passing_score = ((school_data_complete ["math_score"] >=70)*100).mean()
reading_passing_score = ((school_data_complete["reading_score"] >=70)*100).mean()
district_summary_df = pd.DataFrame({
    "Total Schools": [total_schools],
    "Total Students": [total_students],
    "Total Budget": [total_budget],
    "Average Math Score": [average_math_score],
    "Average Reading Score": [average_reading_score],
    "% Passing Math" : [math_passing_score],
    "% Passing Reading" : [reading_passing_score],
    "% Overall Passing Rate" : [overall_passing_rate]})
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].astype(float).map(
    "${:,.2f}".format)
district_summary_df["Total Students"] = district_summary_df["Total Students"].astype(float).map(
    "{:,.0f}".format)
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,80.431606

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

* Sort and display the top five schools in overall passing rate

In [187]:
grouped_school = school_data_complete.groupby(['school_name'])
average_math_score = school_data_complete.groupby('school_name')['math_score'].mean()
average_reading_score = school_data_complete.groupby ('school_name')['reading_score'].mean()
passing_math = school_data_complete[school_data_complete['math_score']>=70].groupby(['school_name']).size()/grouped_school.size()*100
passing_reading = school_data_complete[school_data_complete['reading_score']>=70].groupby(['school_name']).size()/grouped_school.size()*100
Per_Student_Budget = school_data.groupby('school_name')['budget'].sum()/grouped_school.size()
overall_passing_rate =(passing_math + passing_reading)/2

In [189]:
school_summary_df_1 = school_data[["school_name", "type", "size", "budget"]]
school_summary_df_1

              school_name      type  size   budget
0       Huang High School  District  2917  1910635
1    Figueroa High School  District  2949  1884411
2     Shelton High School   Charter  1761  1056600
3   Hernandez High School  District  4635  3022020
4     Griffin High School   Charter  1468   917500
5      Wilson High School   Charter  2283  1319574
6     Cabrera High School   Charter  1858  1081356
7      Bailey High School  District  4976  3124928
8      Holden High School   Charter   427   248087
9        Pena High School   Charter   962   585858
10     Wright High School   Charter  1800  1049400
11  Rodriguez High School  District  3999  2547363
12    Johnson High School  District  4761  3094650
13       Ford High School  District  2739  1763916
14     Thomas High School   Charter  1635  1043130

In [201]:
school_summary_df = pd.concat ([Per_Student_Budget,average_math_score,average_reading_score,passing_math,passing_reading,overall_passing_rate], axis=1)
school_summary_df

,0,math_score,reading_score,1,2,3
school_name,,,,,,
Bailey High School,628.0,77.048432,81.033963,66.680064,81.933280,74.306672
Cabrera High School,582.0,83.061895,83.975780,94.133477,97.039828,95.586652
Figueroa High School,639.0,76.711767,81.158020,65.988471,80.739234,73.363852
Ford High School,644.0,77.102592,80.746258,68.309602,79.299014,73.804308
Griffin High School,625.0,83.351499,83.816757,93.392371,97.138965,95.265668
Hernandez High School,652.0,77.289752,80.934412,66.752967,80.862999,73.807983
Holden High School,581.0,83.803279,83.814988,92.505855,96.252927,94.379391
Huang High School,655.0,76.629414,81.182722,65.683922,81.316421,73.500171
Johnson High School,650.0,77.072464,80.966394,66.057551,81.222432,73.639992
Pena High School,609.0,83.839917,84.044699,94.594595,95.945946,95.270270
Rodriguez High School,637.0,76.842711,80.744686,66.366592,80.220055,73.293323
Shelton High School,600.0,83.359455,83.725724,93.867121,95.854628,94.860875
Thomas High School,638.0,83.418349,83.848930,93.272171,97.308869,95.290520
Wilson High School,578.0,83.274201,83.989488,93.867718,96.539641,95.203679
Wright High School,583.0,83.682222,83.955000,93.333333,96.611111,94.972222

In [223]:
school_summary_merge_2 = pd.merge(school_summary_df_1,school_summary_df, on="school_name")
rename_df =school_summary_merge_2.rename(columns={"school_name": "School Name",
                                                "type": "School Type",
                                                "size": "Total Students",
                                                "budget": "Total School Budget",
                                                0 : "Per Student Budget",
                                                "math_score": "Average Math Score",
                                                "reading_score": "Average Reading Score",
                                                1: "% Passing Math",
                                                2: "% Passing Reading",
                                                3: "Overall Passing Rate"
    
                                                })
rename_df["Total Students"] = rename_df["Total Students"].astype(float).map(
    "{:,.2f}".format)
rename_df["Total School Budget"] = rename_df["Total School Budget"].astype(float).map(
    "${:,.2f}".format)
rename_df["Per Student Budget"] = rename_df["Per Student Budget"].astype(float).map(
    "${:,.2f}".format)
rename_df["Average Math Score"] = rename_df["Average Math Score"].astype(float).map(
    "{:,.2f}".format)
rename_df["Average Reading Score"] = rename_df["Average Reading Score"].astype(float).map(
    "{:,.2f}".format)
rename_df["% Passing Math"] = rename_df["% Passing Math"].astype(float).map(
    "{:,.2f}%".format)
rename_df["% Passing Reading"] = rename_df["% Passing Reading"].astype(float).map(
    "{:,.2f}%".format)
rename_df["Overall Passing Rate"] = rename_df["Overall Passing Rate"].astype(float).map(
    "{:,.2f}%".format)
rename_df

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
0,Huang High School,District,"2,917.00","$1,910,635.00",$655.00,76.63,81.18,65.68%,81.32%,73.50%
1,Figueroa High School,District,"2,949.00","$1,884,411.00",$639.00,76.71,81.16,65.99%,80.74%,73.36%
2,Shelton High School,Charter,"1,761.00","$1,056,600.00",$600.00,83.36,83.73,93.87%,95.85%,94.86%
3,Hernandez High School,District,"4,635.00","$3,022,020.00",$652.00,77.29,80.93,66.75%,80.86%,73.81%
4,Griffin High School,Charter,"1,468.00","$917,500.00",$625.00,83.35,83.82,93.39%,97.14%,95.27%
5,Wilson High School,Charter,"2,283.00","$1,319,574.00",$578.00,83.27,83.99,93.87%,96.54%,95.20%
6,Cabrera High School,Charter,"1,858.00","$1,081,356.00",$582.00,83.06,83.98,94.13%,97.04%,95.59%
7,Bailey High School,District,"4,976.00","$3,124,928.00",$628.00,77.05,81.03,66.68%,81.93%,74.31%
8,Holden High School,Charter,427.00,"$248,087.00",$581.00,83.80,83.81,92.51%,96.25%,94.38%
9,Pena High School,Charter,962.00,"$585,858.00",$609.00,83.84,84.04,94.59%,95.95%,95.27%
10,Wright High School,Charter,"1,800.00","$1,049,400.00",$583.00,83.68,83.95,93.33%,96.61%,94.97%
11,Rodriguez High School,District,"3,999.00","$2,547,363.00",$637.00,76.84,80.74,66.37%,80.22%,73.29%
12,Johnson High School,District,"4,761.00","$3,094,650.00",$650.00,77.07,80.97,66.06%,81.22%,73.64%
13,Ford High School,District,"2,739.00","$1,763,916.00",$644.00,77.10,80.75,68.31%,79.30%,73.80%
14,Thomas High School,Charter,"1,635.00","$1,043,130.00",$638.00,83.42,83.85,93.27%,97.31%,95.29%

## Top Performing Schools (By Passing Rate)

In [224]:
top_schools=rename_df.sort_values("Overall Passing Rate", ascending = False)
top_schools.head()

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
6,Cabrera High School,Charter,"1,858.00","$1,081,356.00",$582.00,83.06,83.98,94.13%,97.04%,95.59%
14,Thomas High School,Charter,"1,635.00","$1,043,130.00",$638.00,83.42,83.85,93.27%,97.31%,95.29%
4,Griffin High School,Charter,"1,468.00","$917,500.00",$625.00,83.35,83.82,93.39%,97.14%,95.27%
9,Pena High School,Charter,962.00,"$585,858.00",$609.00,83.84,84.04,94.59%,95.95%,95.27%
5,Wilson High School,Charter,"2,283.00","$1,319,574.00",$578.00,83.27,83.99,93.87%,96.54%,95.20%

## Bottom Performing Schools (By Passing Rate)

In [225]:
bottom_schools=rename_df.sort_values("Overall Passing Rate")
bottom_schools.head()

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
11,Rodriguez High School,District,"3,999.00","$2,547,363.00",$637.00,76.84,80.74,66.37%,80.22%,73.29%
1,Figueroa High School,District,"2,949.00","$1,884,411.00",$639.00,76.71,81.16,65.99%,80.74%,73.36%
0,Huang High School,District,"2,917.00","$1,910,635.00",$655.00,76.63,81.18,65.68%,81.32%,73.50%
12,Johnson High School,District,"4,761.00","$3,094,650.00",$650.00,77.07,80.97,66.06%,81.22%,73.64%
13,Ford High School,District,"2,739.00","$1,763,916.00",$644.00,77.10,80.75,68.31%,79.30%,73.80%

* Sort and display the five worst-performing schools

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [29]:
ninth_grade = student_data.loc[student_data['grade'] == '9th'].groupby('school_name')['math_score'].mean()
tenth_grade = student_data.loc[student_data['grade'] == '10th'].groupby('school_name')['math_score'].mean()
eleventh_grade = student_data.loc[student_data['grade'] == '11th'].groupby('school_name')['math_score'].mean()
twelfth_grade = student_data.loc[student_data['grade'] == '12th'].groupby('school_name')['math_score'].mean()
math_scores=pd.DataFrame({
    "9th": ninth_grade,
    "10th": tenth_grade,
    "11th": eleventh_grade,
    "12th": twelfth_grade
    })
math_scores["9th"] = math_scores["9th"].astype(float).map(
    "{:,.2f}".format)
math_scores["10th"] = math_scores["10th"].astype(float).map(
    "{:,.2f}".format)
math_scores["11th"] = math_scores["11th"].astype(float).map(
    "{:,.2f}".format)
math_scores["12th"] = math_scores["12th"].astype(float).map(
    "{:,.2f}".format)
math_scores

                         9th   10th   11th   12th
school_name
Bailey High School     77.08  77.00  77.52  76.49
Cabrera High School    83.09  83.15  82.77  83.28
Figueroa High School   76.40  76.54  76.88  77.15
Ford High School       77.36  77.67  76.92  76.18
Griffin High School    82.04  84.23  83.84  83.36
Hernandez High School  77.44  77.34  77.14  77.19
Holden High School     83.79  83.43  85.00  82.86
Huang High School      77.03  75.91  76.45  77.23
Johnson High School    77.19  76.69  77.49  76.86
Pena High School       83.63  83.37  84.33  84.12
Rodriguez High School  76.86  76.61  76.40  77.69
Shelton High School    83.42  82.92  83.38  83.78
Thomas High School     83.59  83.09  83.50  83.50
Wilson High School     83.09  83.72  83.20  83.04
Wright High School     83.26  84.01  83.84  83.64

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [30]:
ninth_grade = student_data.loc[student_data['grade'] == '9th'].groupby('school_name')['reading_score'].mean()
tenth_grade = student_data.loc[student_data['grade'] == '10th'].groupby('school_name')['reading_score'].mean()
eleventh_grade = student_data.loc[student_data['grade'] == '11th'].groupby('school_name')['reading_score'].mean()
twelfth_grade = student_data.loc[student_data['grade'] == '12th'].groupby('school_name')['reading_score'].mean()
reading_scores=pd.DataFrame({
    "9th": ninth_grade,
    "10th": tenth_grade,
    "11th": eleventh_grade,
    "12th": twelfth_grade
    })
reading_scores["9th"] = reading_scores["9th"].astype(float).map(
    "{:,.2f}".format)
reading_scores["10th"] = reading_scores["10th"].astype(float).map(
    "{:,.2f}".format)
reading_scores["11th"] = reading_scores["11th"].astype(float).map(
    "{:,.2f}".format)
reading_scores["12th"] = reading_scores["12th"].astype(float).map(
    "{:,.2f}".format)
reading_scores

                         9th   10th   11th   12th
school_name
Bailey High School     81.30  80.91  80.95  80.91
Cabrera High School    83.68  84.25  83.79  84.29
Figueroa High School   81.20  81.41  80.64  81.38
Ford High School       80.63  81.26  80.40  80.66
Griffin High School    83.37  83.71  84.29  84.01
Hernandez High School  80.87  80.66  81.40  80.86
Holden High School     83.68  83.32  83.82  84.70
Huang High School      81.29  81.51  81.42  80.31
Johnson High School    81.26  80.77  80.62  81.23
Pena High School       83.81  83.61  84.34  84.59
Rodriguez High School  80.99  80.63  80.86  80.38
Shelton High School    84.12  83.44  84.37  82.78
Thomas High School     83.73  84.25  83.59  83.83
Wilson High School     83.94  84.02  83.76  84.32
Wright High School     83.83  83.81  84.16  84.07

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [17]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Spending Ranges (Per Student),,,,,
<$585,83.455399,83.933814,93.460096,96.610877,95.035486
$585-615,83.599686,83.885211,94.230858,95.900287,95.065572
$615-645,79.079225,81.891436,75.668212,86.106569,80.887391
$645-675,76.997210,81.027843,66.164813,81.133951,73.649382

## Scores by School Size

* Perform the same operations as above, based on school size.

In [ ]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Size,,,,,
Small (<1000),83.821598,83.929843,93.550225,96.099437,94.824831
Medium (1000-2000),83.374684,83.864438,93.599695,96.790680,95.195187
Large (2000-5000),77.746417,81.344493,69.963361,82.766634,76.364998

## Scores by School Type

* Perform the same operations as above, based on school type.

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Type,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,95.103660
District,76.956733,80.966636,66.548453,80.799062,73.673757